
@model EntityLayer.Entities.Team
@{
    ViewData["Title"] = "AddTeam";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Yeni Əməkdaş Giriş səhifəsi</h4>
            <form class="forms-sample" method="post">
                <div class="form-group">
                    <label>Adı Soyadı</label>
                    <span asp-validation-for="PersonName" class="text-danger"></span>
                    <input type="text" asp-for="PersonName" class="form-control" />
                    <br />
                </div>
                <div class="form-group">
                    @Html.Label("Vəzifəsi")
                    <span asp-validation-for="Title" class="text-danger"></span>

                    <input type="text" asp-for="Title" class="form-control" />
                    <br />
                </div>
                <div class="form-group">
                    @Html.Label("Şəkilin ünvanı")
                    <span asp-validation-for="ImageUrl" class="text-danger"></span>

                    <input type="text" asp-for="ImageUrl" class="form-control" />
                    <br />
                </div>
                <div class="form-group">
                    @Html.Label("Facebook")

                    <input type="text" asp-for="FacebookUrl" class="form-control" />
                    <br />
                </div>
                <div class="form-group">
                    @Html.Label("Instagram")

                    <input type="text" asp-for="InstagramUrl" class="form-control" />
                    <br />
                </div>
                <div class="form-group">
                    @Html.Label("Twitter")

                    <input type="text" asp-for="TwitterUrl" class="form-control" />
                    <br />
                </div>
                <div class="form-group">
                    @Html.Label("Web sayt")

                    <input type="text" asp-for="WepSiteUrl" class="form-control" />
                    <br />
                </div>
                <button class="btn btn-info">Əlavə et</button>
            </form>
        </div>
    </div>
</div>

